<ion-view view-title="{{ 'ABOUT_TITLE' | translate }}">
  <ion-content>
    <div class="list-inset">
      <div class="card">
        <div class="item item-divider" translate="ABOUT_LABEL_VERSION">Version</div>
        <div class="item item-text-wrap">0.3</div>
        <div class="item item-divider" translate="ABOUT_LABEL_PRIVACY">Privacy</div>
        <div class="item item-text-wrap" translate="ABOUT_TEXT_PRIVACY">
          The app does not under any circumstances collect personal information. The only info you are giving away is what is sent to the api server which you have the possibility to host yourself.
        </div>
        <div class="item item-divider" translate="ABOUT_LABEL_LICENSE">License</div>
        <div class="item item-text-wrap" translate="ABOUT_TEXT_LICENSE">
          This project (Swiss Public Transport FxOS App) is licensed under the Mozilla Public License 2.0.
        </div>
        <div class="item item-divider">
          <a class="button button-dark button-clear" href="#/app/license" translate="ABOUT_BUTTON_LICENSE">Read License</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
