<ion-view view-title="{{ title }}">
  <ion-content>
    <div class="list">
      <a class="item" href="#" ng-repeat="connection in data.connections" ng-click="details(connection)">
        <h2>{{ connection.from.departureTimestamp | datetime:'FORMAT_TIME_SHORT' }} - {{ connection.to.arrivalTimestamp | datetime:'FORMAT_TIME_SHORT' }}</h2>
        <p>{{ 'CONNECTIONS_LABEL_DURATION' | translate }}: {{ connection.duration | duration }}</p>
        <p>{{ connection.transfers }} {{ 'CONNECTIONS_LABEL_TRANSFERS' | translate }}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
