<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{ data.connection.from.departureTimestamp | datetime:'FORMAT_TIME_SHORT' }} - {{ data.connection.to.arrivalTimestamp | datetime:'FORMAT_TIME_SHORT' }}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="ok()">Ok</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="card" ng-repeat="section in data.connection.sections">
      <div class="item item-divider" ng-if="section.walk">{{ section.walk.duration | walking }}</div>
      <div class="item item-divider" ng-if="section.journey">{{ section.journey.name }}</div>
      <div class="item item-text-wrap" ng-if="section.journey">
        <div class="list">
          <a class="item item-icon-right">
            <b>{{ section | departure }}</b>
            <i ng-if="section.journey.passList.length > 2" ng-click="toggleDetails(section)" ng-class="{'ion-android-arrow-dropdown': data.toggled[section.id], 'ion-android-arrow-dropleft': !data.toggled[section.id]}" class="icon"></i>
          </a>
          <a ng-if="data.toggled[section.id]" class="item no-padding-top no-padding-bottom" ng-repeat="pass in section.journey.passList | limitTo:section.journey.passList.length - 2:1">
              {{ pass.location.name }}, {{ pass.departureTimestamp | datetime:'FORMAT_TIME_SHORT' }}
          </a>
          <a class="item">
            <b>{{ section | arrival }}</b>
          </a>
        </div>
      </div>
  </ion-content>
</ion-modal-view>
