<ion-view view-title="{{ 'SEARCH_TITLE' | translate }}">
  <ion-content>
    <form name="searchForm" ng-submit="connections()" class="list-inset" novalidate>
      <label class="item item-input item-stacked-label">
        <span class="input-label" translate="SEARCH_LABEL_FROM">From</span>
        <input type="text" placeholder="Basel" ng-model="search.from" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label" translate="SEARCH_LABEL_TO">To</span>
        <input type="text" placeholder="Bern" ng-model="search.to" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label" translate="SEARCH_LABEL_DATE">Date</span>
        <input type="date" placeholder="25/08/1989" ng-model="search.date" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label" translate="SEARCH_LABEL_TIME">Time</span>
        <input type="time" placeholder="04:58" ng-model="search.time" required>
      </label>
      <div class="row">
        <div class="col">
          <label class="item item-radio">
            <input type="radio" name="group" ng-model="search.isArrivalTime" ng-value="false" ng-checked="!search.isArrivalTime">
            <div class="item-content" translate="SEARCH_LABEL_DEPARTURE">Departure</div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
        <div class="col">
          <label class="item item-radio">
            <input type="radio" name="group" ng-model="search.isArrivalTime" ng-value="true" ng-checked="search.isArrivalTime">
            <div class="item-content" translate="SEARCH_LABEL_ARRIVAL">Arrival</div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
      </div>
      <button type="submit" class="button button-full button-positive" ng-disabled="searchForm.$invalid" translate="SEARCH_BUTTON_SEARCH">
        Search...
      </button>
  </form>
  </ion-content>
</ion-view>
