<ion-view view-title="{{ 'SETTINGS_TITLE' | translate }}">
  <ion-content>
    <div class="list-inset">
      <label class="item item-input item-stacked-label">
        <span class="input-label" translate="SETTINGS_LABEL_API_URL">API URL</span>
        <input type="text" ng-model="settings.apiUrl" ng-change="changeApiUrl()">
      </label>
      <button class="button button-full icon-right ion-chevron-down" ng-click="changeLanguage()">{{ settings.selectedLang.name }}</button>
      <a class="button button-full icon-right ion-chevron-right" href="#/app/about" translate="SETTINGS_BUTTON_ABOUT">About</a>
    </div>
  </ion-content>
</ion-view>
