<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{ title }}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="ok()">Ok</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list-inset">
        <label class="item item-radio" ng-repeat="item in data.items">
          <input type="radio" name="group" ng-model="data.selectedItem" ng-value="item" ng-checked="data.selectedItem.name === item.name">
          <div class="item-content">
            {{ item.name }}
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
